$color-bg-timer: #000;

$font-title-size-first-block: 80px;
$font-subtitle-size-first-block: 50px;

$font-develop: "Comfortaa", cursive;
$font: "Comfortaa", cursive;

$font-title-size: 50px;
$font-sub-title-size: 25px;

$font-title-shadow-black: 0px 0px 4px #000;
$font-title-shadow-white: 0px 0px 4px #fff;

//mobile
$font-title-size-mobile: 20px;
$font-sub-title-size-mobile: 20px;

$font-title-size-first-block-mobile: 27px;
$font-subtitle-size-first-block-mobile: 20px;

$radius-button: 5px;
$bg-button: #84898c;

$global-color-button: #ece8df;
$global-color-button-hover: black;

$font-family-cursive: "Bad Script", cursive;
