$font-size-boldTitle: 34px;

$font-color-subTitle: #84898c;
$padding-bottom-title: 48px;

$font-size-subTitle: 18px;
$padding-bottom-subTitle: 16px;

$font-size-cursiveTitle: 42px;

$font-size-h3: 20px;
