.gamma {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 40px;
    color: black;
    text-align: center;
  }

  &__content {
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;

    width: 70%;

    margin: 40px 0;
  }

  &__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .item {
      height: 180px;
      width: 180px;
      margin: 10px;
      border-radius: 100px;

      cursor: pointer;
    }
    .item:nth-child(1) {
      background-color: rgb(102 105 86);
    }
    .item:nth-child(2) {
      background-color: rgb(141 142 124);
    }
    .item:nth-child(3) {
      background-color: rgb(176 138 129);
    }
    .item:nth-child(4) {
      background-color: rgb(239 191 187);
    }
    .item:nth-child(5) {
      background-color: rgb(228 201 184);
    }
    .item:nth-child(6) {
      background-color: #c2c2c2;
    }
  }
}

@media (orientation: portrait) {
  .gamma {
    &__title {
      margin-top: 10%;
      font-size: 25px;
      font-weight: bold;
    }

    &__content {
      font-size: 20px;
    }

    &__body {
      display: block;
      text-align: center;
      .item {
        display: inline-block;
        margin: 10px;

        height: 120px;
        width: 120px;
      }
    }
  }
}
